<aside>
    <div class="container">
        <div class="row listadoAl">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <div class="col-12 albumImg" (click)="hideOrShow()">
                                <img src="../../assets/imagenes/albumes/BlackAlbum metallica.jpg"
                                    alt="Black album metallica">
                            </div>
                            <div class="col-12" *ngIf="visible">
                                <p>
                                «Enter Sandman» James Hetfield, Lars Ulrich, Kirk Hammett 5:29
                                «Sad but True» Hetfield, Ulrich 5:24
                                «Holier Than Thou» Hetfield, Ulrich 3:47
                                «The Unforgiven» Hetfield, Ulrich, Hammett 6:26
                                «Wherever I May Roam» Hetfield, Ulrich 6:42
                                «Don't Tread on Me» Hetfield, Ulrich 3:59
                                «Through the Never» Hetfield, Ulrich, Hammett 4:01
                                «Nothing Else Matters» Hetfield, Ulrich 6:29
                                «Of Wolf and Man» Hetfield, Ulrich, Hammett 4:16
                                «The God That Failed» Hetfield, Ulrich 5:05
                                «My Friend of Misery» Hetfield, Ulrich, Jason Newsted 6:47
                                «The Struggle Within» Hetfield, Ulrich 3:51
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <div class="col-12 albumImg">
                                <img src="../../assets/imagenes/albumes/BlackAlbum metallica.jpg"
                                    alt="Black album metallica">
                            </div>
                            <div class="col-12">
                                <p>Listado canciones</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <div class="col-12 albumImg">
                                <img src="../../assets/imagenes/albumes/BlackAlbum metallica.jpg"
                                    alt="Black album metallica">
                            </div>
                            <div class="col-12">
                                <p>Listado canciones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>