<div class="">
    <div class="table col-12 tableC">
        <div class="titleTable">
            <h4>Productos Stock</h4>
        </div>

        <table class="table table-hover tableW">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Código</th>
                    <th scope="col">Valor + iva</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">X/A</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Club Colombia</th>
                    <td>123456</td>
                    <td>$3600</td>
                    <td>150</td>
                    <td>Cerveza</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
                <tr>
                    <th scope="row">Poker</th>
                    <td>45649</td>
                    <td>$2500</td>
                    <td>400</td>
                    <td>Cerveza</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
                <tr>
                    <th scope="row">Club Colombia</th>
                    <td>123456</td>
                    <td>$3600</td>
                    <td>150</td>
                    <td>Cerveza</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
                <tr>
                    <th scope="row">Club Colombia</th>
                    <td>123456</td>
                    <td>$3600</td>
                    <td>150</td>
                    <td>Cerveza</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="page">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>