<div class="">
    <div class="table col-12 tableC">
        <div class="titleTable">
            <h4>Eliminar usuario</h4>
        </div>

        <table datatable class="row-border hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">X/A</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">jeferson</th>
                    <td>Piñeros</td>
                    <td>japineros91@misena.edu.co</td>
                    <td>Administrador</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
                <tr>
                    <th scope="row">Ruby</th>
                    <td>Romero</td>
                    <td>ruby_Romero@misena.edu.co/td>
                    <td>Administrador</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
                <tr>
                    <th scope="row">Wainer</th>
                    <td>Gaitan</td>
                    <td>WainerG@misena.edu.co</td>
                    <td>Administrador</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
                <tr>
                    <th scope="row">Sofia</th>
                    <td>Velazques</td>
                    <td>sofia_velazques@gmail.co</td>
                    <td>Bartender</td>
                    <td><button type="button" class="btn btn-outline-danger">X</button><button type="button"
                            class="btn btn-outline-success">A</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>